<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue learn</title>
</head>
<body>
  <div id="app">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>


    <!-- 通过prop向子组件传递数据 -->
    <!-- <blog-post :title="title"></blog-post>
    <blog-post title="this is a title"></blog-post> -->

    <!-- <blog-post v-for="post in posts" :title="post.title" :key="post.id"></blog-post> -->

    <!-- 监听子组件事件 -->
    <div :style="{ fontSize: postFontSize + 'em' }">
      <blog-post
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        v-on:enlarge-text="postFontSize += $event"
      ></blog-post>
    </div>

    <!-- 组件上使用v-model -->
    <custom-input v-model="searchText"></custom-input>
    {{searchText}}

    <!-- 插槽 -->
    <alert-box>
      slot 作用
    </alert-box>

    <ul>
      <li>li</li>
      <li is="isli"></li>
    </ul>

  </div>
</body>
</html>